:root {
  --brand-color: #212121;
  --color: #2196f3;
  --color2: #757575;
  --color3: #2f303a;
  --color4: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.section {
  padding: 94px 0px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  background-color: var(--color4);
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.headline {
  background-color: var(--color4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  height: 80px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}
.logo-web {
  color: var(--color);
}

.nav {
  display: flex;
  justify-content: space-between;
}
.navigation {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--brand-color);
  padding-left: 43px;
}
.navigation:hover {
  color: var(--color);
}
.navigation:focus {
  color: var(--color);
}
.right-nav {
  display: flex;
  justify-content: space-between;
}
.contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color2);
}
.contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color2);
  padding-left: 50px;
}

.contacts:hover {
  color: var(--color);
}
.contacts:focus {
  color: var(--color);
}

.main {
  background-color: var(--color4);
  padding-top: 100px;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu-items {
  padding-left: 8px;
}
.categories {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--brand-color);
  cursor: pointer;
  width: 121px;
  height: 38px;
  border-radius: 4px;
}
.categories:hover {
  background-color: var(--color);
  color: var(--color4);
}
.categories:focus {
  background-color: var(--color);
  color: var(--color4);
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.list-primary-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--brand-color);
}
.list-primary-items {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color2);
}
.img {
  border: 1px solid #eeeeee;
}
.picture {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1130px;
}

.wrapper {
  background: var(--color3);
  color: var(--color4);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-item {
  background: var(--color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color4);
  width: 200px;
  height: 50px;
}
.list-class {
  display: flex;
}
.list {
  padding-right: 30px;
}
.title-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-align: left;
}
.list-items {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color2);
  text-align: left;
}
.description {
  padding-left: 30px;
}
.description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.team-photo {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.team-section {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.img-photo {
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;
}

.employees {
  font-size: 16px;
  line-height: 1.2;
  color: var(--brand-color);
  text-align: center;
}
.employees-description {
  font-size: 16px;
  line-height: 1.2;
  color: var(--color2);
  text-align: center;
}

.footer {
  background: var(--color3);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 252px;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color4);
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--color4);
}
.contacts-footer {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-footer:hover {
  color: var(--color);
}
.contacts-footer:focus {
  color: var(--color);
}
.contacts-mail {
  text-decoration-line: underline;
  padding-bottom: 8px;
}
